* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: url(../images/background-tiles.jpg);
    background-size: cover;
    background-attachment: fixed;
}
/*** Heading & Navigation Bar ***/
header{
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    margin: 0 auto;
}

h1 {
    color: #f6f6f7;
    padding: 25px;
    background: #a77b78;
    font-family: "Lora", "Palatino", "Bakesrville", "PT Serif";
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    float: left;
}

nav {
    font-family: "Open Sans", "Roboto", "Lato", "Raleway", "Sans", "PT Sans";
    padding: 40px 0 30px;
    float: right;
    color: #f6f6f7;
}

a:link,
a:active,
a:visited {
    text-decoration: none;
    color: #f6f6f7
}


/*** Main content ***/
.container {
    font-family: "Open Sans", "Roboto", "Lato", "Raleway", "Sans", "PT Sans";
    line-height: 130%;
    padding: 0 5% 5% 5%;
    margin: 100px auto;
    width: 80%;
    background: lightgrey; 
}

/*** Subtitle section ***/
h2 {
    padding: 25px 20px 20px 20px;
    font-family: "Lora", "Palatino", "Baskerville", "PT Serif";
    font-weight: bold;
    font-size: 30px;
}

#title-line {
    padding: 1px;
    background: grey;
}


/** Content section Index **/
.content {
    text-align: justify;
}

#headshot {
    float: left;
    padding: 0 15px 10px 0;
}

#p1 {
    float: right;
}

/** Content section Contact **/
form {
    position: relative;
    top: 20px;
}
input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #666;
    border-radius: 4px;
}

input[type=submit] {
    background-color: #a77b78;
    color: #f6f6f7;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

label[for=name] {
    position: relative;
    left: -255px
}

#message {
    height: 200px;
    resize: vertical;
}

/** Content section Portfolio **/
.row{
    width: 100%;
    margin: auto;
}

.images {
    width: 50%;
    float: left;
    position: relative;
}

.pic {
    width: 100%;
    padding: 5%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.label {
    width: 90%;
    padding: 12px 0 12px 0;
    background-color: #a77b78;
    text-align: center;
    font-family: "Lora", "Palatino", "Baskerville", "PT Serif";
    font-size: 20px;
    font-weight: bold;
    color: white;
    position: absolute;
    bottom: 15%;
    left: 5%
    /* box-shadow: 5px 10px 10px #888888 */
}

/*** Footer section ***/
#footer-line {
    padding: 2px;
    background: #a77b78;
}

#copyright-block {
    padding: 30px 30px 10px 30px;
    font-family: "Open Sans", "Roboto", "Lato", "Raleway", "Sans", "PT Sans";
    font-size: 13px;
    background: #666;
    color: lightgrey;
    text-align: center
}